.my-tooltip {
    position: relative;
    margin-top: 15%;
    display: inline-flex;
}

.my-tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #FFC300;
    color: #333;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.my-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFC300 transparent;
}

.my-tooltip:hover .my-tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* css for positioning tooltip at top */
.t-top {
    top: -120%;
    left: 50%;
    transform: translateX(-50%);
}

.t-top::after {
    left: 50%;
    bottom: -20px;
    margin-left: -20px;
    border-color: transparent transparent #FFC300 transparent;
}

/* css for positioning tooltip at bottom */
.t-bottom {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.t-bottom::after {
    left: 50%;
    margin-left: -10px;
    border-color: #FFC300 transparent transparent transparent;
}

/* css for positioning tooltip at left */
.t-left {
    left: -90%;
    top: 50%;
    transform: translateY(-47%);
}

.t-left::after {
    right: -20px;
    top: 50%;
    border-color: transparent transparent transparent #FFC300;
}

/* css for positioning tooltip at right */
.t-right {
    right: -90%;
    top: 50%;
    transform: translateY(-47%);
}

.t-right::after {
    left: -20px;
    top: 50%;
    border-color: transparent #FFC300 transparent transparent;
}